{{ define "1stkyu_requirements" }}
{{ if not .hxRequest }}
{{ template "top" }}
{{ end }}
<div class="content">
    {{ template "header" makeMap "Page" .Page "user" .user }}
    <div class="mx-auto p-4 lg:p-7 max-w-7xl bg-base-100">
        <div class="text-3xl border-b py-5 flex flex-row items-center">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 20 120 80" class="w-1/2">
                    <rect width="100" height="20" x="10" y="37" fill="#65401a" rx="5" class="color2A2A2A svgShape"
                        stroke="black" stroke-width="3"></rect>
                    <rect width="53.898" height="20" x="18.574" y="75.284" fill="#65401a" rx="5"
                        transform="rotate(-45 18.574 75.284)" class="color393939 svgShape" stroke="black"
                        stroke-width="3"></rect>
                    <rect width="53.898" height="20" fill="#65401a" rx="5"
                        transform="scale(-1 1) rotate(-45 40.463 159.351)" class="color393939 svgShape" stroke="black"
                        stroke-width="3"></rect>
                    <rect width="34" height="30" x="43" y="32" fill="#65401a" rx="15" class="color393939 svgShape"
                        stroke="black" stroke-width="3"></rect>
                </svg>
            </div>
            <div>1st Kyu Brown Belt Requirements</div>
        </div>
        <div class="font-bold underline my-5 text-lg">KIHON - PUSH TECHNIQUES</div>

        <div class="font-semibold mt-5 text-sm">Kamae - Fighting Stance</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra" style="min-width: 500px;">
                <thead>
                    <tr>
                        <th>Direction</th>
                        <th>Technique</th>
                        <th>English Name</th>
                        <th>Number of times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Forward</th>
                        <td>Kizami-Zuki</td>
                        <td>Jab</td>
                        <td>4 times, turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Gyaku-Zuki</td>
                        <td>Reverse Punch</td>
                        <td>4 times, turn</td>
                    </tr>
                    <tr>
                        <th>Forward</th>
                        <td>Oi-Suki</td>
                        <td>Lunge Punch</td>
                        <td>4 times, turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Gyaku-Zuki</td>
                        <td>Lunging Reverse Punch</td>
                        <td>4 times, turn</td>
                    </tr>
                    <tr>
                        <th>Forward</th>
                        <td>Kizami-Zuki, Oi-Suki</td>
                        <td>Jab, Lunge Punch</td>
                        <td>4 times, turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Oi-Suki, half-step Gyaku-Zuki</td>
                        <td>Lunge Punch, half-step Reverse Punch</td>
                        <td>4 times, turn</td>
                    </tr>
                    <tr>
                        <th>Forward</th>
                        <td>Kizami-Zuki, Oi-Suki, Gyaku-Zuki</td>
                        <td>Jab, Lunge Punch, Reverse Punch</td>
                        <td>2 times, turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Kizami-Zuki, Oi-Suki, Gyaku-Zuki</td>
                        <td>Jab, Lunge Punch, Reverse Punch</td>
                        <td>2 times, turn</td>
                    </tr>
                    <tr>
                        <th>Forward</th>
                        <td>Any Punch Combination</td>
                        <td></td>
                        <td>turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Any Punch Combination</td>
                        <td></td>
                        <td>turn</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="font-bold underline mt-7 text-sm">KICKS - SAME LEG</div>
        <div class="font-semibold mt-5 text-sm">Kamae - Fighting Stance</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra" style="min-width: 500px;">
                <thead>
                    <tr>
                        <th>Direction</th>
                        <th>Technique</th>
                        <th>English Name</th>
                        <th>Number of times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Forward</th>
                        <td>Mae-Geri Keage, Mae-Geri Kekomi</td>
                        <td>Front Snap Kick, Front Thrust Kick</td>
                        <td>4 times, turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Mae-Geri Keage, Mawashi-Geri</td>
                        <td>Front Snap Kick, Roundhouse Kick</td>
                        <td>4 times, turn</td>
                    </tr>
                    <tr>
                        <th>Forward</th>
                        <td>Mae-Geri Keage, Yoko-Geri Kekomi</td>
                        <td>Front Snap Kick, Side Thrust Kick</td>
                        <td>4 times, turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Mawashi-Geri, Yoko-Geri Kekomi</td>
                        <td>Roundhouse Kick, Side Thrust Kick</td>
                        <td>4 times, turn</td>
                    </tr>
                    <tr>
                        <th>Forward</th>
                        <td>Mawashi-Geri, Ushiro-Geri</td>
                        <td>Roundhouse Kick, Spinning Back Kick</td>
                        <td>4 times, turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Yoko-Geri Kekomi, Ushiro-Geri</td>
                        <td>Side Thrust Kick, Spinning Back Kick</td>
                        <td>4 times, turn</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="font-semibold mt-5 text-sm">Kiba-Dachi - Horse Stance</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra" style="min-width: 500px;">
                <tbody>
                    <thead>
                        <tr>
                            <th>Direction</th>
                            <th>Technique</th>
                            <th>English Name</th>
                            <th>Number of times</th>
                        </tr>
                    </thead>
                    <tr>
                        <th>Forward</th>
                        <td>Yoko-Geri Keage, Yoko-Geri Kekomi</td>
                        <td>Side Snap Kick, Side Thrust Kick</td>
                        <td>4 times, turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Yoko-Geri Keage, Yoko-Geri Kekomi</td>
                        <td>Side Snap Kick, Side Thrust Kick</td>
                        <td>4 times, turn</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="font-semibold mt-5 text-sm">Kamae - Fighting Stance</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra" style="min-width: 500px;">
                <thead>
                    <tr>
                        <th>Direction</th>
                        <th>Technique</th>
                        <th>English Name</th>
                        <th>Number of times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Forward</th>
                        <td>Any Kick Combination</td>
                        <td></td>
                        <td>turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Any Kick Combination</td>
                        <td></td>
                        <td>turn</td>
                    </tr>
                    <tr>
                        <th>Forward</th>
                        <td>Mae-Geri Keage, Oi-Suki</td>
                        <td>Front Snap Kick, Lunge Punch (keep hand in punching position)</td>
                        <td>4 times, turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Gyaku-Zuki, Mae-Geri Keage</td>
                        <td>Reverse Punch, Front Snap Kick (keep hand in punching position)</td>
                        <td>4 times, turn</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="font-bold underline mt-7 text-sm">STATIONARY KICKS</div>
        <div class="font-semibold mt-5 text-sm">Kamae - Fighting Stance</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra" style="min-width: 500px;">
                <thead>
                    <tr>
                        <th>Technique</th>
                        <th>English Name</th>
                        <th>Number of times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mae-Geri Keage, Yoko-Geri Kekomi, Mawashi-Geri, Ushiro-Geri</td>
                        <td>Front Snap Kick, Side Thrust Kick, Roundhouse Kick, Back Kick</td>
                        <td>5 times each leg</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr class="my-5">
        <div class="font-bold underline my-5 text-lg">KATA</div>
        <div>1st kyu: Kanku Dai</div>
        <hr class="my-5">
        <div class="font-bold underline my-5 text-lg">ONE STEP PRE-ARRANGED KUMITE</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra ">
                <thead>
                    <tr>
                        <th></th>
                        <th>Attack</th>
                        <th>Defense</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Jodan-Oi-Suki - Face Punch</td>
                        <td>Jodan-Uke - Rising Block, Reverse Punch to Stomach (Kiai).</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Jodan-Oi-Suki - Face Punch</td>
                        <td>Reverse Rising Block with your right hand, left leg forward, and right leg back. Grab their
                            wrist, shift into a horse stance while pulling them towards your back leg, and perform a
                            vertical punch to their head (Kiai).</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Chudan-Oi-Suki - Stomach Punch</td>
                        <td>Step to your right side and block the punch with a left hand Shuto-Uke. Mae-Geri and Nukite
                            with your front leg and hand (Kiai), and land in Neko-Ashi-Dachi (Cat Stance).</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Chudan-Oi-Suki - Stomach Punch</td>
                        <td>Parry the punch from the outside with your left hand. Step into Kiba-Dachi with the left
                            leg, striking low with your left hand (Kiai), and blocking the punch with a right hand
                            Chudan-Uke.</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>Jodan-Oi-Suki - Face Punch</td>
                        <td>Step forward with your right leg, blocking the punch with a high left hand Shuto-Uke,
                            striking with a right Shuto to the neck (Kiai).</td>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td>Mae-Geri - Front Snap Kick</td>
                        <td>Step in with your left leg, catching the attacker's shin in an X-block before their kick
                            extends. Pull back slightly and perform an X-Shuto Strike to their neck before their foot
                            lands (Kiai).</td>
                    </tr>
                    <tr>
                        <th>7</th>
                        <td>Chudan-Oi-Suki - Stomach Punch</td>
                        <td>Step back and turn with the right leg, parrying with your right hand. Grab their wrist, and
                            strike with a left hand Shuto to their neck (Kiai).</td>
                    </tr>
                    <tr>
                        <th>8</th>
                        <td>Jodan-Oi-Suki - Face Punch</td>
                        <td>Step forward with your left leg, parrying the punch with your left hand, and grabbing behind
                            the neck with your right. Pull them down while thrusting your knee into their stomach
                            (Kiai).</td>
                    </tr>
                    <tr>
                        <th>9</th>
                        <td>Chudan-Oi-Suki - Stomach Punch</td>
                        <td>Step forward with your right leg, blocking the punch with a left hand Chudan-Uke and
                            protecting your front with a right hand Gedan-Barai. Chamber your right hand and push
                            forward into an uppercut to your opponent's stomach (Kiai).</td>
                    </tr>
                    <tr>
                        <th>10</th>
                        <td>Jodan-Oi-Suki - Face Punch</td>
                        <td>Step across with your right leg, blocking the punch with a right hand Jodan Shuto Uke. Step
                            behind your opponent with your left leg, continuing your left hand into a low Shuto strike
                            (Kiai).
                            Place your hands on your opponent's back, and push them away while shifting forward into a
                            Zenkutsu-Dachi.</td>
                    </tr>
            </table>
        </div>
        <hr class="my-5">
        <div class="font-bold underline my-5 text-lg">JIYU KUMITE</div>
        <div>Free-style sparring between all brown and black belts.</div>
    </div>
    {{ if not .hxRequest }}
    {{ template "footer" }}
    {{ else }}
</div>
{{ end }}
{{ end }}