{{ define "5th4thkyu_requirements" }}
{{ if not .hxRequest }}
{{ template "top" }}
{{ end }}
<div class="content">
    {{ template "header" makeMap "Page" .Page "user" .user }}
    <div class="overflow-hidden">
        <img class="w-screen object-cover scale-110 md:scale-100"
            style="aspect-ratio: 16 / 2; object-position: left 32%;" src="/public/history/banner.jpeg">
    </div>
    <div class="mx-auto p-4 lg:p-7 max-w-6xl bg-base-100">
        <div class="text-3xl border-b my-10">5th and 4th Kyu Purple Belt Requirements</div>
        <div class="font-bold underline my-5 text-lg">KIHON - TRIPLE MOVES</div>

        <div class="font-semibold mt-5 text-sm over">Zenkutsu-Dachi - Front Stance</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra" style="min-width: 500px;">
                <thead>
                    <tr>
                        <th>Direction</th>
                        <th>Technique</th>
                        <th>English Name</th>
                        <th>Number of times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Forward</th>
                        <td>Oi-Suki, Gyaku-Zuki, Oi-Suki</td>
                        <td>Triple Punch</td>
                        <td>(4 times)</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Oi-Suki, Gyaku-Zuki, Oi-Suki</td>
                        <td>Triple Punch</td>
                        <td>(4 times)</td>
                    </tr>
                    <tr>
                        <th>Forward</th>
                        <td>Jodan-Uke, Gyaku-Zuki, Oi-Suki</td>
                        <td>Rising Block, Two Punches</td>
                        <td>(4 times)</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Soto-Uke, Gyaku-Zuki, Oi-Suki</td>
                        <td>Outside Center Block, Two Punches</td>
                        <td>(4 times)</td>
                    </tr>
                    <tr>
                        <th>Forward</th>
                        <td>Chudan-Uke, Gyaku-Zuki, Oi-Suki</td>
                        <td>Inside Center Block, Two Punches</td>
                        <td>(4 times)</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Gedan-Barai, Gyaku-Zuki, Oi-Suki</td>
                        <td>Downward Block, Two Punches</td>
                        <td>(4 times)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="font-semibold mb-1.5 mt-5 text-sm over">Kokutsu-Dachi - Back Stance</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra" style="min-width: 500px;">
                <thead>
                    <tr>
                        <th>Direction</th>
                        <th>Technique</th>
                        <th>English Name</th>
                        <th>Number of times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Forward</th>
                        <td>Shuto-Uke, Mae-Geri, Nukite (Zenkutsu-Dachi)</td>
                        <td>Knife Hand Block, Front Snap Kick, Spear Hand Thrust (Front Stance)</td>
                        <td>(4 times)</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Shuto-Uke, Mae-Geri, Nukite (Zenkutsu-Dachi)</td>
                        <td>Knife Hand Block, Front Snap Kick, Spear Hand Thrust (Front Stance)</td>
                        <td>(4 times)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="font-semibold mt-5 text-sm over">Zenkutsu-Dachi - Front Stance</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra" style="min-width: 500px;">
                <thead>
                    <tr>
                        <th>Direction</th>
                        <th>Technique</th>
                        <th>English Name</th>
                        <th>Number of times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Forward</th>
                        <td>Soto-Uke, Empi Uchi (Kiba-Dachi)</td>
                        <td>Outside Center Block, Elbow Strike (Horse Stance)</td>
                        <td>4 times, turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Soto-Uke, Empi Uchi (Kiba-Dachi)</td>
                        <td>Outside Center Block, Elbow Strike (Horse Stance)</td>
                        <td>4 times, turn</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="font-bold underline mt-7 text-sm over">KICKS - ALTERNATING LEG</div>
        <div class="font-semibold mt-5 text-sm over">Kamae - Fighting Position</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra" style="min-width: 500px;">
                <thead>
                    <tr>
                        <th>Direction</th>
                        <th>Technique</th>
                        <th>English Name</th>
                        <th>Number of times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Forward</th>
                        <td>Mae-Geri Keage, Mae-Geri Kekomi</td>
                        <td>Front Snap Kick, Front Thrust Kick</td>
                        <td>2 sets, turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Mae-Geri Keage, Mawashi-Geri</td>
                        <td>Front Snap Kick, Roundhouse Kick</td>
                        <td>2 sets, turn</td>
                    </tr>
                    <tr>
                        <th>Forward</th>
                        <td>Mae-Geri Keage, Yoko-Geri Kekomi</td>
                        <td>Front Snap Kick, Side Thrust Kick</td>
                        <td>2 sets, turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Mawashi-Geri, Ushiro-Geri</td>
                        <td>Roundhouse Kick, Spinning Back Kick</td>
                        <td>2 sets, turn</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="font-semibold mt-5 text-sm over">Kiba-Dachi - Horse Stance</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra" style="min-width: 500px;">
                <tbody>
                    <thead>
                        <tr>
                            <th>Direction</th>
                            <th>Technique</th>
                            <th>English Name</th>
                            <th>Number of times</th>
                        </tr>
                    </thead>
                    <tr>
                        <th>Forward</th>
                        <td>Yoko-Geri Keage, Yoko-Geri Kekomi</td>
                        <td>Side Snap Kick, Side Thrust Kick</td>
                        <td>2 sets, turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Yoko-Geri Keage, Yoko-Geri Kekomi</td>
                        <td>Side Snap Kick, Side Thrust Kick</td>
                        <td>2 sets, turn</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr class="my-5">
        <div class="font-bold underline my-5 text-lg">KATA</div>
        <div>5th kyu: Heian Godan</div>
        <div>4th kyu: Tekki Shodan</div>
        <hr class="my-5">
        <div class="font-bold underline my-5 text-lg">ONE STEP PRE-ARRANGED KUMITE</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra ">
                <thead>
                    <tr>
                        <th>Attack</th>
                        <th>Defense</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jodan-Oi-Suki - Face Punch</td>
                        <td>Jodan-Uke - Rising Block, Reverse Punch to Stomach</td>
                    </tr>
                    <tr>
                        <td>Jodan-Oi-Suki - Face Punch</td>
                        <td>Reverse Rising Block with your right hand, left leg forward, and right leg back. Grab their wrist, shift into a horse stance while pulling them towards your back leg, and perform a vertical punch to their head.</td>
                    </tr>
                    <tr>
                        <td>Chudan-Oi-Suki - Stomach Punch</td>
                        <td>Step to your right side and block the punch with a left hand Shuto-Uke. Mae-Geri and Nukite with your front leg and hand, and land in Neko-Ashi-Dachi (Cat Stance).</td>
                    </tr>
                    <tr>
                        <td>Chudan-Oi-Suki - Stomach Punch</td>
                        <td>Parry the punch from the outside with your left hand. Step into Kiba-Dachi with the left leg, striking low with your left hand, blocking the punch with a right hand Chudan-Uke.</td>
                    </tr>
                    <tr>
                        <td>Jodan-Oi-Suki - Face Punch</td>
                        <td>Step forward with your right leg, blocking the punch with a high left hand Shuto-Uke, striking with a right Shuto to the neck.</td>
                    </tr>
                    <tr>
                        <td>Mae-Geri - Front Snap Kick</td>
                        <td>Step in with your left leg, catching the attacker's shin in an X-block before their kick extends. Pull back slightly and perform an X-Shuto Strike to their neck before their foot lands.</td>
                    </tr>
                    <tr><th>4th kyu only</th></tr>
                    <tr>
                        <td>Chudan-Oi-Suki - Stomach Punch</td>
                        <td>Step back and turn with the right leg, parrying with your right hand. Grab their wrist, and strike with a left hand Shuto to their neck.</td>
                    </tr>
            </table>
        </div>
    </div>
    {{ if not .hxRequest }}
    {{ template "footer" }}
    {{ else }}
</div>
{{ end }}
{{ end }}