{{ define "9th8thkyu_requirements" }}
{{ if not .hxRequest }}
{{ template "top" }}
{{ end }}
<div class="content">
    {{ template "header" makeMap "Page" .Page "user" .user }}
    <div class="mx-auto px-3 pb-4 lg:px-7 lb:pb-7 max-w-7xl bg-base-100 md:rounded-xl md:my-5 printable">
        <div class="text-3xl border-b py-5 requirements-header">
            <div class="flex flex-row items-center">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 20 120 80" class="w-1/2 requirements-belt">
                        <rect width="100" height="20" x="10" y="37" fill="#4169E1" rx="5" class="color2A2A2A svgShape" stroke="black" stroke-width="3"></rect>
                        <rect width="53.898" height="20" x="18.574" y="75.284" fill="#4169E1" rx="5"
                            transform="rotate(-45 18.574 75.284)" class="color393939 svgShape" stroke="black" stroke-width="3"></rect>
                        <rect width="53.898" height="20" fill="#4169E1" rx="5"
                            transform="scale(-1 1) rotate(-45 40.463 159.351)" class="color393939 svgShape" stroke="black" stroke-width="3"></rect>
                        <rect width="34" height="30" x="43" y="32" fill="#4169E1" rx="15" class="color393939 svgShape" stroke="black" stroke-width="3"></rect>
                        <rect width="18" height="5" fill="black" rx="0" transform="scale(-1 1) rotate(-45 75 90)" stroke="black" stroke-width="3"></rect>
                        <rect width="18" height="5" fill="black" rx="0" transform="scale(-1 1) rotate(45 -126 -76)" stroke="black" stroke-width="3"></rect>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 20 120 80" class="w-1/2 requirements-belt-mobile md:hidden">
                        <rect width="100" height="20" x="10" y="37" fill="#4169E1" rx="5" class="color2A2A2A svgShape" stroke="black" stroke-width="3"></rect>
                        <rect width="53.898" height="20" x="18.574" y="75.284" fill="#4169E1" rx="5"
                            transform="rotate(-45 18.574 75.284)" class="color393939 svgShape" stroke="black" stroke-width="3"></rect>
                        <rect width="53.898" height="20" fill="#4169E1" rx="5"
                            transform="scale(-1 1) rotate(-45 40.463 159.351)" class="color393939 svgShape" stroke="black" stroke-width="3"></rect>
                        <rect width="34" height="30" x="43" y="32" fill="#4169E1" rx="15" class="color393939 svgShape" stroke="black" stroke-width="3"></rect>
                    </svg>
                </div>
                <div class="requirements-title text-center">9th and 8th Kyu Blue Belt Requirements</div>
                <div class="hidden md:flex no-stripe-belt">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 20 120 80" class="w-1/2 requirements-belt ml-auto">
                        <rect width="100" height="20" x="10" y="37" fill="#4169E1" rx="5" class="color2A2A2A svgShape" stroke="black" stroke-width="3"></rect>
                        <rect width="53.898" height="20" x="18.574" y="75.284" fill="#4169E1" rx="5"
                            transform="rotate(-45 18.574 75.284)" class="color393939 svgShape" stroke="black" stroke-width="3"></rect>
                        <rect width="53.898" height="20" fill="#4169E1" rx="5"
                            transform="scale(-1 1) rotate(-45 40.463 159.351)" class="color393939 svgShape" stroke="black" stroke-width="3"></rect>
                        <rect width="34" height="30" x="43" y="32" fill="#4169E1" rx="15" class="color393939 svgShape" stroke="black" stroke-width="3"></rect>
                    </svg>
                </div>
            </div>
            <button class="btn btn-primary my-1 shadow-md non-printable self-end ml-auto hidden md:flex" onclick="window.print()">
                <svg viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path fill-rule="evenodd"
                            d="M3.99995 2.5C3.99995 1.67157 4.67152 1 5.49995 1H14.4999C15.3284 1 15.9999 1.67157 15.9999 2.5V5H17.5005C18.3289 5 19.0005 5.67157 19.0005 6.5V12.5C19.0005 13.3284 18.3289 14 17.5005 14H15.9999V18C15.9999 18.5523 15.5522 19 15 19H4.99995C4.44767 19 3.99995 18.5523 3.99995 18V14H2.50002C1.67159 14 1.00002 13.3284 1.00002 12.5L1 6.5C0.999997 5.67158 1.67157 5 2.5 5H3.99995V2.5ZM14 17V12H5.99995V17H14ZM16.9999 9C16.9999 9.55228 16.5522 10 16 10C15.4477 10 15 9.55228 15 9C15 8.44771 15.4477 8 16 8C16.5522 8 16.9999 8.44771 16.9999 9ZM14 3H6V5H14V3Z"
                            fill="#000000"></path>
                    </g>
                </svg>
                Print
            </button>
        </div>
        <button class="btn btn-primary my-1 shadow-md non-printable md:hidden" onclick="window.print()">
            <svg viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path fill-rule="evenodd"
                        d="M3.99995 2.5C3.99995 1.67157 4.67152 1 5.49995 1H14.4999C15.3284 1 15.9999 1.67157 15.9999 2.5V5H17.5005C18.3289 5 19.0005 5.67157 19.0005 6.5V12.5C19.0005 13.3284 18.3289 14 17.5005 14H15.9999V18C15.9999 18.5523 15.5522 19 15 19H4.99995C4.44767 19 3.99995 18.5523 3.99995 18V14H2.50002C1.67159 14 1.00002 13.3284 1.00002 12.5L1 6.5C0.999997 5.67158 1.67157 5 2.5 5H3.99995V2.5ZM14 17V12H5.99995V17H14ZM16.9999 9C16.9999 9.55228 16.5522 10 16 10C15.4477 10 15 9.55228 15 9C15 8.44771 15.4477 8 16 8C16.5522 8 16.9999 8.44771 16.9999 9ZM14 3H6V5H14V3Z"
                        fill="#000000"></path>
                </g>
            </svg>
            Print
        </button>
        <div class="section">
            <div class="font-bold underline my-5 text-lg requirements-section">KIHON</div>
            <div class="font-semibold mt-5 text-sm kihon-stance">Zenkutsu-Dachi - Front Stance</div>
            <div class="overflow-x-auto">
                <table class="table table-sm table-zebra ">
                    <thead>
                        <tr>
                            <th>Direction</th>
                            <th>Technique</th>
                            <th>English Name</th>
                            <th>Number of times</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Forward</th>
                            <td>Oi-Suki</td>
                            <td>Lunge Punch</td>
                            <td>4 times</td>
                        </tr>
                        <tr>
                            <th>Backward</th>
                            <td>Oi-Suki</td>
                            <td>Lunge Punch</td>
                            <td>4 times</td>
                        </tr>
                        <tr>
                            <th>Forward</th>
                            <td>Jodan-Uke</td>
                            <td>Rising Block</td>
                            <td>4 times</td>
                        </tr>
                        <tr>
                            <th>Backward</th>
                            <td>Soto-Uke</td>
                            <td>Outside Center Block</td>
                            <td>4 times</td>
                        </tr>
                        <tr>
                            <th>Forward</th>
                            <td>Chudan-Uke</td>
                            <td>Inside Center Block</td>
                            <td>4 times</td>
                        </tr>
                        <tr>
                            <th>Backward</th>
                            <td>Gedan-Barai</td>
                            <td>Downward Block</td>
                            <td>4 times</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="section">
            <div class="font-semibold mb-1.5 mt-5 text-sm kihon-stance">Kokutsu-Dachi - Back Stance</div>
            <div class="overflow-x-auto">
                <table class="table table-sm table-zebra ">
                    <thead>
                        <tr>
                            <th>Direction</th>
                            <th>Technique</th>
                            <th>English Name</th>
                            <th>Number of times</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Forward</th>
                            <td>Shuto-Uke</td>
                            <td>Knife Hand Block (Chop)</td>
                            <td>4 times</td>
                        </tr>
                        <tr>
                            <th>Backward</th>
                            <td>Shuto-Uke</td>
                            <td>Knife Hand Block (Chop)</td>
                            <td>4 times</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="section">
            <div class="font-bold underline mt-7 text-sm kihon-sub-section">KICKS</div>
            <div class="font-semibold mt-5 text-sm kihon-stance">Kamae - Fighting Position</div>
            <div class="overflow-x-auto">
                <table class="table table-sm table-zebra ">
                    <thead>
                        <tr>
                            <th>Direction</th>
                            <th>Technique</th>
                            <th>English Name</th>
                            <th>Number of times</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Forward</th>
                            <td>Mae-Geri Keage</td>
                            <td>Front Snap Kick</td>
                            <td>4 times, turn</td>
                        </tr>
                        <tr>
                            <th>Backward</th>
                            <td>Mae-Geri Kekomi</td>
                            <td>Front Thrust Kick</td>
                            <td>4 times, turn</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="section">
            <div class="font-semibold mt-5 text-sm kihon-stance">Kiba-Dachi - Horse Stance</div>
            <div class="overflow-x-auto">
                <table class="table table-sm table-zebra ">
                    <tbody>
                        <thead>
                            <tr>
                                <th>Direction</th>
                                <th>Technique</th>
                                <th>English Name</th>
                                <th>Number of times</th>
                            </tr>
                        </thead>
                        <tr>
                            <th>Forward</th>
                            <td>Yoko-Geri Keage</td>
                            <td>Side Snap Kick</td>
                            <td>4 times, turn</td>
                        </tr>
                        <tr>
                            <th>Backward</th>
                            <td>Yoko-Geri Keage</td>
                            <td>Side Snap Kick</td>
                            <td>4 times, turn</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr class="my-5 section-line">
        <div class="section">
            <div class="font-bold underline my-5 text-lg requirements-section">KATA</div>
            <div class="kata-name">9th kyu: Heian Shodan</div>
            <div class="kata-name">8th kyu: Heian Nidan</div>
        </div>
        <hr class="my-5 section-line">
        <div class="section">
            <div class="font-bold underline my-5 text-lg requirements-section">FIVE STEP PRE-ARRANGED KUMITE</div>
            <div class="overflow-x-auto">
                <table class="table table-sm table-zebra">
                    <thead>
                        <tr>
                            <th>Attack</th>
                            <th>Defense</th>
                            <th>Counter</th>
                            <th>Number of times</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jodan-Oi-Suki - Face Punch</td>
                            <td>Jodan-Uke - Rising Block</td>
                            <td>Reverse Punch to Stomach</td>
                            <td>(5 times)</td>
                        </tr>
                        <tr>
                            <td>Chudan-Oi-Suki - Stomach Punch</td>
                            <td>Soto-Uke - Outside Center Block</td>
                            <td>Reverse Punch to Face</td>
                            <td>(5 times)</td>
                        </tr>
                        <tr>
                            <td>Mae-Geri Keage - Front Snap Kick</td>
                            <td>Gedan-Barai - Downward Block</td>
                            <td>Reverse Punch to Stomach</td>
                            <td>(5 times)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ if not .hxRequest }}
    {{ template "footer" }}
    {{ else }}
</div>
{{ end }}
{{ end }}