{{ define "9th8thkyu_requirements" }}
{{ if not .hxRequest }}
{{ template "top" }}
{{ end }}
<div class="content">
    {{ template "header" makeMap "Page" .Page "user" .user }}
    <div class="mx-auto px-3 pb-4 lg:px-7 lb:pb-7 max-w-7xl bg-base-100">
        <div class="text-3xl border-b py-5 flex flex-row items-center">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 20 120 80" class="w-1/2">
                    <rect width="100" height="20" x="10" y="37" fill="#4169E1" rx="5" class="color2A2A2A svgShape" stroke="black" stroke-width="3"></rect>
                    <rect width="53.898" height="20" x="18.574" y="75.284" fill="#4169E1" rx="5"
                        transform="rotate(-45 18.574 75.284)" class="color393939 svgShape" stroke="black" stroke-width="3"></rect>
                    <rect width="53.898" height="20" fill="#4169E1" rx="5"
                        transform="scale(-1 1) rotate(-45 40.463 159.351)" class="color393939 svgShape" stroke="black" stroke-width="3"></rect>
                    <rect width="34" height="30" x="43" y="32" fill="#4169E1" rx="15" class="color393939 svgShape" stroke="black" stroke-width="3"></rect>
                    <rect width="18" height="5" fill="black" rx="0" transform="scale(-1 1) rotate(-45 75 90)" stroke="black" stroke-width="3"></rect>
                    <rect width="18" height="5" fill="black" rx="0" transform="scale(-1 1) rotate(45 -126 -76)" stroke="black" stroke-width="3"></rect>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 20 120 80" class="w-1/2">
                    <rect width="100" height="20" x="10" y="37" fill="#4169E1" rx="5" class="color2A2A2A svgShape" stroke="black" stroke-width="3"></rect>
                    <rect width="53.898" height="20" x="18.574" y="75.284" fill="#4169E1" rx="5"
                        transform="rotate(-45 18.574 75.284)" class="color393939 svgShape" stroke="black" stroke-width="3"></rect>
                    <rect width="53.898" height="20" fill="#4169E1" rx="5"
                        transform="scale(-1 1) rotate(-45 40.463 159.351)" class="color393939 svgShape" stroke="black" stroke-width="3"></rect>
                    <rect width="34" height="30" x="43" y="32" fill="#4169E1" rx="15" class="color393939 svgShape" stroke="black" stroke-width="3"></rect>
                </svg>
            </div>
            <div>9th and 8th Kyu Blue Belt Requirements</div>
            
        </div>
        <div class="font-bold underline my-5 text-lg">KIHON</div>

        <div class="font-semibold mt-5 text-sm">Zenkutsu-Dachi - Front Stance</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra ">
                <thead>
                    <tr>
                        <th>Direction</th>
                        <th>Technique</th>
                        <th>English Name</th>
                        <th>Number of times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Forward</th>
                        <td>Oi-Suki</td>
                        <td>Lunge Punch</td>
                        <td>4 times</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Oi-Suki</td>
                        <td>Lunge Punch</td>
                        <td>4 times</td>
                    </tr>
                    <tr>
                        <th>Forward</th>
                        <td>Jodan-Uke</td>
                        <td>Rising Block</td>
                        <td>4 times</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Soto-Uke</td>
                        <td>Outside Center Block</td>
                        <td>4 times</td>
                    </tr>
                    <tr>
                        <th>Forward</th>
                        <td>Chudan-Uke</td>
                        <td>Inside Center Block</td>
                        <td>4 times</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Gedan-Barai</td>
                        <td>Downward Block</td>
                        <td>4 times</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="font-semibold mb-1.5 mt-5 text-sm">Kokutsu-Dachi - Back Stance</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra ">
                <thead>
                    <tr>
                        <th>Direction</th>
                        <th>Technique</th>
                        <th>English Name</th>
                        <th>Number of times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Forward</th>
                        <td>Shuto-Uke</td>
                        <td>Knife Hand Block (Chop)</td>
                        <td>4 times</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Shuto-Uke</td>
                        <td>Knife Hand Block (Chop)</td>
                        <td>4 times</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="font-bold underline mt-7 text-sm">KICKS</div>
        <div class="font-semibold mt-5 text-sm">Kamae - Fighting Position</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra ">
                <thead>
                    <tr>
                        <th>Direction</th>
                        <th>Technique</th>
                        <th>English Name</th>
                        <th>Number of times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Forward</th>
                        <td>Mae-Geri Keage</td>
                        <td>Front Snap Kick</td>
                        <td>4 times, turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Mae-Geri Kekomi</td>
                        <td>Front Thrust Kick</td>
                        <td>4 times, turn</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="font-semibold mt-5 text-sm">Kiba-Dachi - Horse Stance</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra ">
                <tbody>
                    <thead>
                        <tr>
                            <th>Direction</th>
                            <th>Technique</th>
                            <th>English Name</th>
                            <th>Number of times</th>
                        </tr>
                    </thead>
                    <tr>
                        <th>Forward</th>
                        <td>Yoko-Geri Keage</td>
                        <td>Side Snap Kick</td>
                        <td>4 times, turn</td>
                    </tr>
                    <tr>
                        <th>Backward</th>
                        <td>Yoko-Geri Keage</td>
                        <td>Side Snap Kick</td>
                        <td>4 times, turn</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr class="my-5">
        <div class="font-bold underline my-5 text-lg">KATA</div>
        <div>9th kyu: Heian Shodan</div>
        <div>8th kyu: Heian Nidan</div>
        <hr class="my-5">
        <div class="font-bold underline my-5 text-lg">FIVE STEP PRE-ARRANGED KUMITE</div>
        <div class="overflow-x-auto">
            <table class="table table-sm table-zebra ">
                <thead>
                    <tr>
                        <th>Attack</th>
                        <th>Defense</th>
                        <th>Counter</th>
                        <th>Number of times</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jodan-Oi-Suki - Face Punch</td>
                        <td>Jodan-Uke - Rising Block</td>
                        <td>Reverse Punch to Stomach</td>
                        <td>(5 times)</td>
                    </tr>
                    <tr>
                        <td>Chudan-Oi-Suki - Stomach Punch</td>
                        <td>Soto-Uke - Outside Center Block</td>
                        <td>Reverse Punch to Face</td>
                        <td>(5 times)</td>
                    </tr>
                    <tr>
                        <td>Mae-Geri Keage - Front Snap Kick</td>
                        <td>Gedan-Barai - Downward Block</td>
                        <td>Reverse Punch to Stomach</td>
                        <td>(5 times)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{ if not .hxRequest }}
    {{ template "footer" }}
    {{ else }}
</div>
{{ end }}
{{ end }}