{{ define "add_classPeriod" }}
<h3 class="font-bold text-lg">Add Class Period</h3>
<form id="add_classPeriod_form" hx-post="/admin/classPeriod" hx-target=".content" hx-swap="outerHTML show:top">
    <label class="label">
        <span class="text-base label-text">Period</span>
    </label>
    <input type="text" placeholder="Period Name" class="input input-bordered" name="Name" required />
    <div class="flex py-2 items-center">
        <input type="date" placeholder="Start Date" class="input input-bordered" name="StartDate" required />
        <p class="px-5">
            to
        </p>
        <input type="date" placeholder="End Date" class="input input-bordered" name="EndDate" required />
    </div>
    <button class="btn" hx-get="/calendar" hx-target=".content"
        hx-swap="outerHTML show:top">Close</button>
    <input type="Submit" form="add_classPeriod_form" class="btn btn-primary" />
</form>
{{ end }}