{{ define "base" }}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.7/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/carousel.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" /> -->

</head>

<body >class="bg-base-200"
    {{ template "header" }}

    {{ template "{{.templateName}}" .data }}

    <script src="assets/js/carousel.js"></script>
</body>
{{ end }}