{{ define "calendarPage" }}

{{ $today := .Today }}
<div class="calendar">
    <button class="btn btn-warning" hx-get="/calendar?month={{ .PrevMonth }}" hx-push-url="false" hx-target=".calendar"
        hx-swap="outerHTML show:top">
        < </button> {{ .Month }} <button class="btn btn-warning" hx-get="/calendar?month={{ .NextMonth }}"
                hx-push-url="false" hx-target=".calendar" hx-swap="outerHTML show:top"> > </button>
            <table class="table">
                <thead>
                    <tr>
                        <th>Sunday</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Weeks }}
                    <tr>
                        <td>
                            <div class="card w-96 bg-base-100 shadow-xl">
                                <div class="card-body">
                                  <h2 class="card-title {{if eq $today .Sunday }}text-blue-300{{ end }}">{{ .Sunday }}</h2>
                                  <p>If a dog chews shoes whose shoes does he choose?</p>
                                </div>
                              </div>
                        </td>

                        <td>
                            <div class="card w-96 bg-base-100 shadow-xl">
                                <div class="card-body">
                                  <h2 class="card-title {{if eq $today .Monday }}text-blue-300{{ end }}">{{ .Monday }}</h2>
                                  <p>If a dog chews shoes whose shoes does he choose?</p>
                                </div>
                              </div>
                        </td>
                        <td>
                            <div class="card w-96 bg-base-100 shadow-xl">
                                <div class="card-body">
                                  <h2 class="card-title {{if eq $today .Tuesday }}text-blue-300{{ end }}">{{ .Tuesday }}</h2>
                                  <p>If a dog chews shoes whose shoes does he choose?</p>
                                </div>
                              </div>
                        </td>
                        <td>
                            <div class="card w-96 bg-base-100 shadow-xl">
                                <div class="card-body">
                                  <h2 class="card-title {{if eq $today .Wednesday }}text-blue-300{{ end }}">{{ .Wednesday }}</h2>
                                  <p>If a dog chews shoes whose shoes does he choose?</p>
                                </div>
                              </div>
                        </td>
                        <td>
                            <div class="card w-96 bg-base-100 shadow-xl">
                                <div class="card-body">
                                  <h2 class="card-title {{if eq $today .Thursday }}text-blue-300{{ end }}">{{ .Thursday }}</h2>
                                  <p>If a dog chews shoes whose shoes does he choose?</p>
                                </div>
                              </div>
                        </td>
                        <td>
                            <div class="card w-96 bg-base-100 shadow-xl">
                                <div class="card-body">
                                  <h2 class="card-title {{if eq $today .Friday }}text-blue-300{{ end }}">{{ .Friday }}</h2>
                                  <p>If a dog chews shoes whose shoes does he choose?</p>
                                </div>
                              </div>
                        </td>
                        <td>
                            <div class="card w-96 bg-base-100 shadow-xl">
                                <div class="card-body">
                                  <h2 class="card-title {{if eq $today .Saturday }}text-blue-300{{ end }}">{{ .Saturday }}</h2>
                                  <p>If a dog chews shoes whose shoes does he choose?</p>
                                </div>
                              </div>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
</div>
{{ end }}