{{ define "calendarPage2" }}
<div class="content flex flex-col h-screen">
    {{ template "header" makeMap "Page" .Page "user" .user }}
    {{ $today := .Today}}
    {{ $user := .user }}
    <div class="text-gray-700 calendar mx-auto w-screen max-w-7xl md:p-7 bg-base-100 flex flex-col grow overflow-auto md:rounded-xl md:my-5">

        <!-- Component Start -->
                <div class="calendar-top border-b">
                    <div class="flex items-center pt-4 w-full relative">
                        <div class="flex ml-6">
                            <button id="PrevMonth" onclick="
                                loadingDiv = document.querySelector('.loadingDiv')
                                loadingDiv.classList.add('flex');
                                loadingDiv.classList.remove('hidden')
                                " 
                                hx-get="/calendar?month={{ .PrevMonth }}&class={{ .FilteredClass }}" hx-push-url="false"
                                hx-target=".content" hx-swap="outerHTML show:.today:top">
                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 19l-7-7 7-7" />
                                </svg>
                            </button>
                            <button id="NextMonth" onclick="
                                loadingDiv = document.querySelector('.loadingDiv')
                                loadingDiv.classList.add('flex');
                                loadingDiv.classList.remove('hidden')
                                " 
                                hx-get="/calendar?month={{ .NextMonth }}&class={{ .FilteredClass }}" hx-push-url="false"
                                hx-target=".content" hx-swap="outerHTML show:.today:top">
                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7" />
                                </svg>
                            </button>
                        </div>
                        <h2 class="ml-2 text-xl font-bold leading-none">{{ formatTimePST .Month "January 2006" }}</h2>
                        {{ $currentMonth := .Month }}
                        {{ $filteredClass := .FilteredClass }}
                        <select onchange="
                            loadingDiv = document.querySelector('.loadingDiv')
                            loadingDiv.classList.add('flex');
                            loadingDiv.classList.remove('hidden')
                            " 
                            class="select select-bordered w-full max-w-xs ml-2 md:ml-auto mr-1 text-ellipsis overflow-hidden" name="class"
                            hx-get="/calendar?month={{ formatTimePST $currentMonth "2006-01" }}" hx-push-url="false"
                            hx-target=".content" hx-swap="outerHTML show:.today:top" hx-trigger="change">
                            <option selected value="">All Classes</option>
                            {{ range .Classes }}
                            <option value="{{ .Name }}" {{ if eq $filteredClass .Name }}selected{{ end }}>{{ .Name }}
                            </option>
                            {{ end }}
                        </select>
                        <div class="loadingDiv items-center justify-center z-10 absolute hidden bg-gray-300/75 w-full h-full my-5">
                            <div class="z-10 loading"></div>
                        </div>
                    </div>
                    <div class="grid grid-cols-7 mt-4">
                        <div class="pl-1 text-sm">Sun</div>
                        <div class="pl-1 text-sm">Mon</div>
                        <div class="pl-1 text-sm">Tue</div>
                        <div class="pl-1 text-sm">Wed</div>
                        <div class="pl-1 text-sm">Thu</div>
                        <div class="pl-1 text-sm">Fri</div>
                        <div class="pl-1 text-sm">Sat</div>
                    </div>
                </div>
                <div class="grow overflow-y-auto calendarBody" ontouchstart="handleTouchStart(event)" ontouchend="handleCalendarTouchEnd(event)">
                    <div class="grid w-full grid-cols-7 grid-rows-5 gap-px pt-px bg-gray-200">
                        {{ range .Weeks }}
                        <div class="relative flex flex-col bg-white group min-h-16 group">
                            <span
                                class="mx-2 my-1 p-1 text-xs font-bold{{ if .Sunday.NotInCurrentMonth }} text-slate-400{{ end }}{{ if isToday $today .Sunday.Day }} bg-yellow-400 rounded-full w-fit today{{ end }}">{{
                                if gt .Sunday.Day.Day 0 }}{{ .Sunday.Day.Day }}{{ end }}</span>
                            {{ range .Sunday.Events }}
                            {{ template "calendarItem" . }}
                            {{ end }}
                            {{ if $user }}
                                <div class="grow py-3" onclick="alert('test')"></div>
                            {{ end }}
                        </div>
                        <div class="relative flex flex-col bg-white group min-h-16">
                            <span
                                class="mx-2 my-1 p-1 text-xs font-bold{{ if .Monday.NotInCurrentMonth }} text-slate-400{{ end }}{{ if isToday $today .Monday.Day }} bg-yellow-400 rounded-full w-fit today{{ end }}">{{
                                if gt .Monday.Day.Day 0 }}{{ .Monday.Day.Day }}{{ end }}</span>
                            {{ range .Monday.Events }}
                            {{ template "calendarItem" . }}
                            {{ end }}
                            {{ if $user }}
                                <div class="grow py-3" onclick="alert('test')"></div>
                            {{ end }}
                        </div>
                        <div class="relative flex flex-col bg-white group min-h-16">
                            <span
                                class="mx-2 my-1 p-1 text-xs font-bold{{ if .Tuesday.NotInCurrentMonth }} text-slate-400{{ end }}{{ if isToday $today .Tuesday.Day }} bg-yellow-400 rounded-full w-fit today{{ end }}">{{
                                if gt .Tuesday.Day.Day 0 }}{{ .Tuesday.Day.Day }}{{ end }}</span>
                            {{ range .Tuesday.Events }}
                            {{ template "calendarItem" . }}
                            {{ end }}
                            {{ if $user }}
                                <div class="grow py-3" onclick="alert('test')"></div>
                            {{ end }}
                        </div>
                        <div class="relative flex flex-col bg-white group min-h-16">
                            <span
                                class="mx-2 my-1 p-1 text-xs font-bold{{ if .Wednesday.NotInCurrentMonth }} text-slate-400{{ end }}{{ if isToday $today .Wednesday.Day }} bg-yellow-400 rounded-full w-fit today{{ end }}">{{
                                if gt .Wednesday.Day.Day 0 }}{{ .Wednesday.Day.Day }}{{ end }}</span>
                            {{ range .Wednesday.Events }}
                            {{ template "calendarItem" . }}
                            {{ end }}
                            {{ if $user }}
                                <div class="grow py-3" onclick="alert('test')"></div>
                            {{ end }}
                        </div>
                        <div class="relative flex flex-col bg-white group min-h-16">
                            <span
                                class="mx-2 my-1 p-1 text-xs font-bold{{ if .Thursday.NotInCurrentMonth }} text-slate-400{{ end }}{{ if isToday $today .Thursday.Day }} bg-yellow-400 rounded-full w-fit today{{ end }}">{{
                                if gt .Thursday.Day.Day 0 }}{{ .Thursday.Day.Day }}{{ end }}</span>
                            {{ range .Thursday.Events }}
                            {{ template "calendarItem" . }}
                            {{ end }}
                            {{ if $user }}
                                <div class="grow py-3" onclick="alert('test')"></div>
                            {{ end }}
                        </div>
                        <div class="relative flex flex-col bg-white group min-h-16">
                            <span
                                class="mx-2 my-1 p-1 text-xs font-bold{{ if .Friday.NotInCurrentMonth }} text-slate-400{{ end }}{{ if isToday $today .Friday.Day }} bg-yellow-400 rounded-full w-fit today{{ end }}">{{
                                if gt .Friday.Day.Day 0 }}{{ .Friday.Day.Day }}{{ end }}</span>
                            {{ range .Friday.Events }}
                            {{ template "calendarItem" . }}
                            {{ end }}
                            {{ if $user }}
                                <div class="grow py-3" onclick="alert('test')"></div>
                            {{ end }}
                        </div>
                        <div class="relative flex flex-col bg-white group min-h-16">
                            <span
                                class="mx-2 my-1 p-1 text-xs font-bold{{ if .Saturday.NotInCurrentMonth }} text-slate-400{{ end }}{{ if isToday $today .Saturday.Day }} bg-yellow-400 rounded-full w-fit today{{ end }}">{{
                                if gt .Saturday.Day.Day 0 }}{{ .Saturday.Day.Day }}{{ end }}</span>
                            {{ range .Saturday.Events }}
                            {{ template "calendarItem" . }}
                            {{ end }}
                            {{ if $user }}
                                <div class="grow py-3" onclick="alert('test')"></div>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>


                    {{ if .user }}
                    <button class="ml-2 btn btn-warning shadow-xl" id="showSessionButton" hx-get="/admin/classSessionForm" hx-target="#classSession_modal" hx-swap="innerHTML" onclick="document.querySelector('#classSession_modal').showModal()">Add Session</button>
                    <dialog id="classSession_modal" class="modal">
                        
                    </dialog>
                    <dialog id="delete_classPeriod_modal" class="modal">
                        <div class="modal-box">
                            <h3 class="font-bold text-lg">Delete</h3>
                            <p class="py-4">Are you sure you want to delete this period?</p>
                            <div class="modal-action">
                                <form method="dialog">
                                    <!-- if there is a button in form, it will close the modal -->
                                    <button class="btn">Cancel</button>
                                    <button class="btn btn-warning" hx-delete="/admin/classPeriod/"
                                        hx-target=".content" hx-swap="outerHTML show:top" hx-redirect="/" id="deletePeriodConfirmation">Delete</button>
                                </form>
                            </div>
                        </div>
                    </dialog>
                    {{ end }}
                </div>
        <!-- Component End  -->
    </div>
    {{ end }}