{{ define "classSessionViewPage" }}
<div class="content">
    {{ template "header" makeMap "Page" .Page "user" .user }}
    {{ template "banner_image" makeMap "Banner" .Class.BannerPhoto "BannerAdjust" .Class.BannerAdjust}}
    <div class="view mx-auto px-3 pb-4 lg:px-7 lb:pb-7 max-w-7xl bg-base-100">
        <div class="text-3xl border-b py-5 flex flex-col items-left">
            <div>{{ .ClassSession.ClassName }}</div>
            <div>{{ formatTimePST .ClassSession.StartTime "Monday, Jan 02 2006 03:04 PM" }} - {{ formatTimePST
                .ClassSession.EndTime "03:04 PM" }}</div>
            {{ if .user }}
            <button hx-get="/admin/calendar/{{ .ClassSession.ID }}" hx-target=".view" hx-swap="outerHTML"
                class="ml-2 btn btn-md md:btn-sm btn-warning btn-square shadow-xl">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24">
                    <path
                        d="M 19.171875 2 C 18.448125 2 17.724375 2.275625 17.171875 2.828125 L 16 4 L 20 8 L 21.171875 6.828125 C 22.275875 5.724125 22.275875 3.933125 21.171875 2.828125 C 20.619375 2.275625 19.895625 2 19.171875 2 z M 14.5 5.5 L 3 17 L 3 21 L 7 21 L 18.5 9.5 L 14.5 5.5 z">
                    </path>
                </svg>
            </button>
            <button onclick="document.querySelector('#delete_classSession_modal').showModal()"
                class="ml-2 btn btn-md md:btn-sm btn-warning btn-square shadow-xl">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path
                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                </svg>
            </button>
            {{ end }}
        </div>
        <div><b>Session:</b>&nbsp;{{ .Period.Name }}</div>
        {{ template "location" .Location }}
    </div>
    {{ if .user }}
    <dialog id="delete_classSession_modal" class="modal">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Delete</h3>
            <p class="py-4">Are you sure you want to delete this session?</p>
            <div class="modal-action">
                <form method="dialog">
                    <!-- if there is a button in form, it will close the modal -->
                    <button class="btn">Cancel</button>
                    <button class="btn btn-warning" hx-delete="/admin/calendar/{{ .ClassSession.ID }}"
                        hx-target=".content" hx-swap="outerHTML show:top" hx-redirect="/">Delete</button>
                </form>
            </div>
        </div>
    </dialog>
    {{ end }}
    {{ end }}