{{ define "classPage" }}
<div class="content">
    {{ template "header" makeMap "Page" .Page  "user" .user  }}
    <img class="w-screen object-cover" style="aspect-ratio: 16 / 4; object-position: left 55%;"
        src="/assets/pre-karate-advanced.png">
    <div class="class h-screen mx-auto p-7 max-w-6xl bg-base-100">
        <h1 class="text-3xl border-b my-10">{{ .Class.Name }} Class</h1>
        <p>Ages: {{ .Class.StartAge }}{{ if .Class.EndAge }}-{{ .Class.EndAge }}yr{{ else }}/up{{ end }}</p>
        <p>{{ .Class.Description }} </p>
        <iframe
            src="{{ .Class.GoogleMapsSrc }}"
            class="w-full h-72" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{{ end }}