{{ define "classPage" }}
<div class="content">
    {{ template "header" makeMap "Page" .Page "user" .user }}
    <div class="class mx-auto md:py-5 md:px-7 max-w-7xl bg-base-100 md:rounded-xl md:my-5">
        {{ $title := (print .Class.Name " Karate Class") }}
        {{ template "banner_image" makeMap "Banner" .Class.BannerPhoto "BannerAdjust" .Class.BannerAdjust "BannerTitle" $title }}
        <div class="class-body p-3 md:p-0">
            {{ if .user }}
            <button hx-get="/admin/classes/{{ .Class.ID }}" hx-target=".class-body" hx-swap="outerHTML"
                class="ml-2 btn btn-md md:btn-sm btn-primary btn-square shadow-xl">
                {{ template "icon_edit" }}
            </button>
            {{ end }}
            <div class="mt-5">
                <div><b>Ages:</b> {{ .Class.StartAge }}{{ if .Class.EndAge }}-{{ .Class.EndAge }}yr{{ else }}/up{{ end }}</div>
                <div><b>Schedule:</b></div>
                <div class="whitespace-pre-line mb-4">{{ .Class.Schedule }}</div>
                {{ range .Class.Annotations }}
                <div class="font-bold italic">{{ .Annotation }}</div>
                {{ end }}
                <div class="my-7">{{ .Class.Description }} </div>
                {{ template "location" .Class.Location }}
            </div>
        </div>
    </div>
</div>
{{ end }}