{{ define "class_card" }}
<div class="card bg-base-100 shadow-xl image-full my-2.5 md:mx-5" style=".card.image-full:before{opacity: 0.2;}">
    <figure><img src="{{ if .CardPhoto }}{{ .CardPhoto }}{{ else }}/public/image_carousel/PXL_20210506_005649942.jpg{{ end }}" alt="Kids" /></figure>
    <div class="card-body">
        <h2 class="card-title mx-auto">{{ .Name }} Classes</h2>
        <p></p>
        <div class="card-actions justify-end">
            <button class="btn btn-outline btn-warning" hx-get="{{ .GetUrl }}" hx-push-url="true" hx-target=".content"
                hx-swap="outerHTML show:top">Learn More</button>
        </div>
    </div>
</div>
{{ end }}