{{ define "edit_event" }}
<div class="content">
    {{ template "header" makeMap "Page" .Page "user" .user }}
    <div class="event mx-auto md:py-5 md:px-7 max-w-7xl bg-base-100 md:rounded-xl md:my-5">
        {{ if .Event }}
            {{ template "banner_image" makeMap "Banner" .Event.PictureUrl "BannerAdjust" 32 "BannerTitle" .Event.Title }}
        {{ end }}
        <h3 class="font-bold text-lg">{{ if .Event }}Edit{{ else }}Create{{ end }} Event</h3>
        <form id="edit_event_form" hx-{{ if .Event.ID }}put{{ else }}post{{ end }}="/admin/events{{ if .Event.ID }}/{{ .Event.ID }}{{ end }}" hx-target=".content"
            hx-swap="outerHTML show:top" enctype="multipart/form-data">
            <label class="label">
                <span class="text-base label-text">Event Name</span>
            </label>
            <input type="text" placeholder="Event Name" class="w-full input input-bordered" name="Name"
                value="{{ .Event.Title }}" required />
            <label class="label">
                <span class="text-base label-text">Date</span>
            </label>
            <input type="date" placeholder="Event Date" class="w-full input input-bordered"
                value="{{ .Event.Date.Format "2006-01-02" }}" name="Date" required />
            <label class="label">
                <span class="text-base label-text">Start Time</span>
            </label>
            <input type="time" placeholder="Start Time" class="w-full input input-bordered" value="{{ startTimePSTString .Event.StartTime  }}" name="StartTime" required />
            <label class="label">
                <span class="text-base label-text">End Time</span>
            </label>
            <input type="time" placeholder="End Time" class="w-full input input-bordered" value="{{ startTimePSTString .Event.EndTime }}" name="EndTime" required />
            <label class="label">
                <span class="text-base label-text">Event Location</span>
            </label>
            <select class="select select-bordered w-full max-w-xs" name="Location">
                {{ $selectedLocation := .Event.Location}}
                {{ range .Locations }}
                <option {{ if eq $selectedLocation .Name }}selected{{end}}>{{ .Name }}</option>
                {{ end }}
            </select>
            <label class="label">
                <span class="text-base label-text">Event Description</span>
            </label>
            <textarea placeholder="Description" class="textarea textarea-bordered textarea-lg w-full h-72" name="Description"
                required>{{ .Event.Description }}</textarea>
            <div class="form-control">
                <label class="cursor-pointer label">
                    <span class="label-text">Add New Cover Photo</span>
                    <input type="checkbox" class="toggle toggle-warning cover-selector" onchange="
                                          if (this.checked) {
                                            document.querySelector('.existing-cover-photos').classList.add('hidden')
                                            document.querySelector('input[name=\'ExistingCoverPhoto\']').removeAttribute('required')
                                            document.querySelector('input[name=\'ExistingCoverPhoto\']').value = null
                        
                                            if (document.querySelector('.cover-photo.border-yellow-500') != null) {
                                                document.querySelector('.cover-photo.border-yellow-500').classList.add('border-sky-500')
                                                document.querySelector('.cover-photo.border-yellow-500').classList.remove('border-yellow-500')
                                            }
                        
                                            document.querySelector('.new-cover-photo').classList.remove('hidden')
                                            document.querySelector('input[name=\'NewCoverPhoto\']').setAttribute('required', true)
                                          } else {
                                            document.querySelector('.existing-cover-photos').classList.remove('hidden')
                                            document.querySelector('.new-cover-photo').classList.add('hidden')
                                            document.querySelector('input[name=\'NewCoverPhoto\']').value = null
                                            document.querySelector('input[name=\'NewCoverPhoto\']').removeAttribute('required')
                                            document.querySelector('input[name=\'ExistingCoverPhoto\']').setAttribute('required', true)
                                          }
                                      " />
                </label>
            </div>
            <label class="label">
                <span class="text-base label-text">Event Cover Photo</span>
            </label>
            <div class="existing-cover-photos">
                <div class="upcoming-events w-full overflow-x-auto max-h-72">
                    <div class="mx-auto w-fit flex flex-row items-center">
                        {{ $picUrl := .Event.PictureUrl }}
                        {{ range .EventPhotos }}
                        <img src="{{ . }}"
                            class="cover-photo h-44 rounded border-4 {{ if eq $picUrl . }}border-yellow-500{{ else }}border-sky-500{{end}} hover:border-yellow-500 shadow-xl my-2.5 mx-1.5"
                            onclick="selectExistingBannerImage(event)" />
                        {{ end }}
                    </div>
                </div>
                <div class="">
                    <input type="text" class="" name="ExistingCoverPhoto" value="{{ .Event.PictureUrl }}" required  onchange="previewExistingBannerImage(event)"/>
                </div>
            </div>
            <div class="new-cover-photo form-control hidden">
                <input type="file" accept="image/*" class="file-input file-input-bordered file-input-warning w-full"
                    name="NewCoverPhoto" onchange="previewNewBannerImage(event)" />
            </div>
            <div class="form-control">
                <label class="cursor-pointer label">
                    <span class="label-text">Add New Card Photo</span>
                    <input type="checkbox" class="toggle toggle-warning card-selector" onchange="
                                          if (this.checked) {
                                            document.querySelector('.existing-card-photos').classList.add('hidden')
                                            document.querySelector('input[name=\'ExistingCardPhoto\']').removeAttribute('required')
                                            document.querySelector('input[name=\'ExistingCardPhoto\']').value = null
                        
                                            if (document.querySelector('.card-photo.border-yellow-500') != null) {
                                                document.querySelector('.card-photo.border-yellow-500').classList.add('border-sky-500')
                                                document.querySelector('.card-photo.border-yellow-500').classList.remove('border-yellow-500')
                                            }
                        
                                            document.querySelector('.new-card-photo').classList.remove('hidden')
                                            document.querySelector('input[name=\'NewCardPhoto\']').setAttribute('required', true)
                                          } else {
                                            document.querySelector('.existing-card-photos').classList.remove('hidden')
                                            document.querySelector('.new-card-photo').classList.add('hidden')
                                            document.querySelector('input[name=\'NewCardPhoto\']').value = null
                                            document.querySelector('input[name=\'NewCardPhoto\']').removeAttribute('required')
                                            document.querySelector('input[name=\'ExistingCardPhoto\']').setAttribute('required', true)
                                          }
                                      " />
                </label>
            </div>
            <label class="label">
                <span class="text-base label-text">Event Card Photo</span>
            </label>
            <div class="existing-card-photos">
                <div class="upcoming-events w-full overflow-x-auto max-h-72">
                    <div class="mx-auto w-fit flex flex-row items-center">
                        {{ $picUrl := .Event.CardPicUrl }}
                        {{ range .EventCardPhotos }}
                        <img src="{{ . }}"
                            class="card-photo h-44 rounded border-4 {{ if eq $picUrl . }}border-yellow-500{{ else }}border-sky-500{{end}} hover:border-yellow-500 shadow-xl my-2.5 mx-1.5"
                            onclick="
                                        if (event.target.classList.contains('border-yellow-500')){
                                            event.target.classList.remove('border-yellow-500')
                                            event.target.classList.add('border-sky-500')
                                            document.querySelector('input[name=\'ExistingCardPhoto\']').value = ''
                                        } else {
                                            if (document.querySelector('.card-photo.border-yellow-500') != null) {
                                                document.querySelector('.card-photo.border-yellow-500').classList.add('border-sky-500')
                                                document.querySelector('.card-photo.border-yellow-500').classList.remove('border-yellow-500')
                                            }
                                            event.target.classList.add('border-yellow-500');
                                            event.target.classList.remove('border-sky-500')
                                            document.querySelector('input[name=\'ExistingCardPhoto\']').value = event.target.getAttribute('src')
                                        }
                                        " />
                        {{ end }}
                    </div>
                </div>
                <div class="">
                    <input type="text" class="" name="ExistingCardPhoto" value="{{ .Event.CardPicUrl }}" required />
                </div>
            </div>
            <div class="new-card-photo form-control hidden">
                <input type="file" accept="image/*" class="file-input file-input-bordered file-input-warning w-full"
                    name="NewCardPhoto" />
            </div>
            {{ if .Files }}
            <label class="label">
                <span class="text-base label-text">Remove Files</span>
            </label>
            <div class="upcoming-events w-full overflow-x-auto max-h-72">
                <div class="mx-auto w-fit flex flex-row items-center">
                    {{ range $key, $value := .Files }}
                    <label class="swap">
                        <input type="checkbox" onclick=" 
                            if (this.checked) {
                                document.querySelector('.deleted-files').value = document.querySelector('.deleted-files').value + '{{ $key }}' + ','
                            } else {
                                curDeleted = document.querySelector('.deleted-files').value
                                curDeleted = curDeleted.replace('{{ $key }}' + ',', '')
                                document.querySelector('.deleted-files').value = curDeleted
                            }" />
                        <div class="swap-on line-through m-2.5 p-2.5 shadow-xl rounded-lg bg-gray-400 font-bold">{{ $key
                            }}</div>
                        <div class="swap-off p-2.5 m-2.5 shadow-xl rounded-lg bg-warning font-bold">{{ $key }}</div>
                    </label>
                    {{ end }}
                </div>
            </div>
            <input class="deleted-files hidden" name="DeletedFiles" />
            {{ end }}
            <label class="label">
                <span class="text-base label-text">Add Files</span>
            </label>
            <input type="file" accept="image/*,.pdf" class="file-input file-input-bordered file-input-warning w-full"
                name="Files" multiple />
        </form>
        <div class="modal-action">
            
            <button class="btn" hx-get={{if .Event.ID }}"/events/{{ .Event.ID }}"{{else}}"/"{{end}} hx-target=".content"
                hx-swap="outerHTML show:top">Close</button>
            <input type="Submit" form="edit_event_form" class="btn btn-primary" />
        </div>
    </div>
</div>
{{ end }}