{{ define "edit_event_template_form" }}
<div class="content">
    {{ template "header" makeMap "Page" .Page "user" .user }}
    <div class="event mx-auto md:py-5 md:px-7 max-w-7xl bg-base-100 md:rounded-xl md:my-5">
        <h3 class="font-bold text-lg">Edit Event Template</h3>
        <form id="edit_template_form" hx-put="/admin/event-templates/{{ .Template.ID }}" hx-target=".content" hx-swap="outerHTML">
            <label class="label">
                <span class="text-base label-text">Template Name</span>
            </label>
            <input type="text" placeholder="Template Name" class="w-full input input-bordered" name="Name"
                value="{{ .Template.Name }}" required />
            <label class="label">
                <span class="text-base label-text">Description</span>
            </label>
            <textarea placeholder="Description" class="textarea textarea-bordered textarea-lg w-full" name="Description"
                required>{{ .Template.Description }}</textarea>
            <label class="label">
                <span class="text-base label-text">Duration (minutes)</span>
            </label>
            <input type="number" placeholder="Duration" class="w-full input input-bordered" name="Duration"
                value="{{ .Template.Duration }}" required />
            <label class="label">
                <span class="text-base label-text">Capacity</span>
            </label>
            <input type="number" placeholder="Capacity" class="w-full input input-bordered" name="Capacity"
                value="{{ .Template.Capacity }}" required />
            <label class="label">
                <span class="text-base label-text">Location</span>
            </label>
            <select class="select select-bordered w-full max-w-xs" name="LocationID">
                {{ $selectedLocation := .Template.LocationID }}
                {{ range .Locations }}
                <option value="{{ .ID }}" {{ if eq $selectedLocation .ID }}selected{{ end }}>{{ .Name }}</option>
                {{ end }}
            </select>
            <div class="modal-action">
                <button type="button" class="btn" hx-get="/admin/event-templates" hx-target=".content" hx-swap="outerHTML">Cancel</button>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
</div>
{{ end }} 