{{ define "hamburger_menu" }}
{{$activePageName:=.Page.PageName}}
<div class="dropdown absolute left-0">
    <label tabindex="0" class="btn btn-ghost md:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
    </label>
    <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-10 p-2 shadow bg-base-100 rounded-box w-52">
        {{ range .Page.Tabs }}
        {{ if .SubTabs }}
        <li tabindex="0">
            <details>
                <summary>{{ .Name }}</summary>
                <ul class="p-2 z-10 font-normal">
                    {{ range .SubTabs }}
                    <li><a hx-get="{{ .GetUrl }}" hx-push-url="true" hx-target=".content" hx-swap="outerHTML">{{ htmlRender .Name
                            }}</a></li>
                    {{ end }}
                </ul>
            </details>
        </li>
        {{ else }}
        <li><a hx-get="{{ .GetUrl }}"
                hx-push-url="true" hx-target=".content" hx-swap="outerHTML">{{ .Name }}</a></li>
        {{ end }}
        {{ end }}
        {{ if .user }}
        <li><a hx-post="/admin/logout" hx-target=".content" hx-swap="outerHTML">Logout</a></li>
        {{ end }}
    </ul>
</div>
{{ end }}