{{ define "historyPage" }}
<div class="content">
    {{ template "header" makeMap "Page" .Page  "user" .user  }}
    <img class="w-screen object-cover"  style="aspect-ratio: 16 / 3; object-position: left 32%;" src="/assets/history/banner.jpeg">
    <div class="history h-screen mx-auto p-7 max-w-6xl bg-base-100">
        <h1 class="text-3xl border-b my-10">History of Shinkyu Shotokan</h1>
        <p>The Shinkyu Shotokan Karate dojo practices traditional Shotokan, as well as elements from the older martial
            arts of Shorinji Ryu. Students attain knowledge and proficiency of self-defense in a spiritual, mental and
            physical way. They develop confidence, build up endurance, focus and self-awareness in a friendly
            atmosphere. Shinkyu Shotokan Karate was established in 1965 by Sensei Leroy Rodrigues.</p>
    </div>
</div>
{{ end }}