{{ define "instructorsPage" }}
<div class="content">
    {{ template "header" makeMap "Page" .Page "user" .user }}
    <div class="instructors mx-auto md:py-5 md:px-7 max-w-7xl bg-base-100 md:rounded-xl md:my-5">
        <div class="relative">
            {{ template "banner_image" makeMap "Banner" .CurrentInstructorsPagePhoto "BannerAspectRatio" "16/7"
            "BannerScale" 100 "BannerTitle" "Shinkyu Shotokan Karate Instructors" "BannerScaleScroll" true }}
            {{ template "upload_image_button" makeMap "user" .user "href" "/admin/instructors/upload-page-image" }}
        </div>
        <div class="instructors-body p-3 md:p-0">
            {{ if .user }}
            <div class="flex justify-end py-4">
                <button hx-get="/admin/instructors/new" hx-target=".content" hx-push-url="true" hx-swap="outerHTML"
                    class="btn btn-primary">
                    {{ template "icon_plus" }}
                    Add Instructor
                </button>
            </div>
            {{ end }}
            {{ range $i, $e := .Instructors }}
            {{ template "instructor_card" makeMap "Instructor" . "user" $.user "IsFirst" (eq $i 0) "IsHiddenSection" false }}
            {{ end }}
            {{ if .user }}
            {{ if .HiddenInstructors }}
            <div class="pt-10">
                <h2 class="text-lg font-bold pb-2">Hidden Instructors</h2>
                {{ range $i, $e := .HiddenInstructors }}
                {{ template "instructor_card" makeMap "Instructor" . "user" $.user "IsFirst" (eq $i 0) "IsHiddenSection" true }}
                {{ end }}
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}