{{ define "instructorsPage" }}
<div class="content">
    {{ template "header" makeMap "Page" .Page "user" .user }}
    <div class="instructors mx-auto md:py-5 md:px-7 max-w-7xl bg-base-100 md:rounded-xl md:my-5">
        {{ template "banner_image" makeMap "Banner" "/public/instructors/original_0dba6fc4-1896-4cc8-926b-56568fb5ea74_PXL_20230827_175124417 (1).jpg" "BannerAdjust" 30 "BannerAspectRatio" "16/4" "BannerScale" 110}}
        <div class="instructors-body p-3 md:p-0">
            {{ range $i, $e := .Instructors }}

            <div class="instructor md:flex py-7 {{if gt $i 0}}border-t{{end}}">
                <img class="rounded-xl mx-auto h-72 mb-5 lg:pb-0" src="{{ .PictureUrl}}">
                <div class="px-4 lg:px-14">
                    <h1 class="text-xl pb-5 font-bold">{{ .Name }}</h1>
                    <p>{{ .Bio }}</p>
                </div>
            </div>

            {{ end }}
        </div>
    </div>
</div>
{{ end }}