{{ define "locations" }}
<div class="text-3xl border-b py-5 flex flex-col md:flex-row md:items-center">
    <div class="grow">
        <div>Locations</div>
    </div>
    <div class="btn btn-primary btn-sm md:btn-md" onclick="add_location_modal.showModal()">
        {{ template "icon_plus" }}
        New Location
    </div>
</div>
<div class="overflow-x-auto">
    <table class="table table-sm table-zebra" style="min-width: 500px;">
        <thead>
            <tr>
                <th>Location</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Locations }}
            <tr>
                <td>{{ template "location" . }}</td>
                <td>
                    <button hx-get="/admin/locations/{{ .ID }}/edit" hx-target="previous .location" hx-swap="outerHTML"
                        class="ml-2 btn btn-md md:btn-sm btn-primary btn-square">
                        {{ template "icon_edit" }}
                    </button>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ template "add_location_modal" }}
{{ end }} 