{{ define "location" }}
<div class="location pt-10">
    <div class="font-bold">Location:</div>
    <div class="whitespace-pre-line ">{{ .Name }}<br />{{ .Address }}</div>
    <div class="relative">
        <iframe src="{{ .GoogleMapsIframe }}" class="w-full h-72 mt-3 rounded-xl" style="border:0;" allowfullscreen=""
            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <a class="btn btn-secondary btn-circle h-14 w-fit px-3 md:px-5 absolute top-2 right-1 shadow-xl text-white text-xs md:text-base" target="_blank"
            href="https://www.google.com/maps?daddr={{ (print .Name " " .Address) }}">
            <div class="flex items-center justify-center">
                <svg fill="#ffffff" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M502.61 233.32L278.68 9.39c-12.52-12.52-32.83-12.52-45.36 0L9.39 233.32c-12.52 12.53-12.52 32.83 0 45.36l223.93 223.93c12.52 12.53 32.83 12.53 45.36 0l223.93-223.93c12.52-12.53 12.52-32.83 0-45.36zm-100.98 12.56l-84.21 77.73c-5.12 4.73-13.43 1.1-13.43-5.88V264h-96v64c0 4.42-3.58 8-8 8h-32c-4.42 0-8-3.58-8-8v-80c0-17.67 14.33-32 32-32h112v-53.73c0-6.97 8.3-10.61 13.43-5.88l84.21 77.73c3.43 3.17 3.43 8.59 0 11.76z">
                        </path>
                    </g>
                </svg>
                &nbsp;Directions
            </div>
        </a>
    </div>
</div>
{{ end }}