{{ define "reset_password" }}
{{ template "top" }}
<div class="content">
    <div class="">
        {{ if .error }}
        <div class="alert alert-error max-w-lg my-2 shadow-lg">
            {{ template "icon_alert" }}
            <span>{{ .error }}</span>
        </div>
        {{ end }}
        <form hx-post="/admin/reset-password">
            <div>
                <label class="label">
                    <span class="text-base label-text">Current Password</span>
                </label>
                <input type="password" placeholder="Current Password" class="w-full input input-bordered"
                    name="CurrentPassword" />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">New Password</span>
                </label>
                <input type="password" placeholder="New Password" class="w-full input input-bordered" name="NewPassword"
                    pattern="^(?=.*?[0-9])(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[^0-9A-Za-z]).{8,32}$" />
                <label class="label">
                    <span class="text-base label-text">Confirm New Password</span>
                </label>
                <input type="password" placeholder="Confirm New Password" class="w-full input input-bordered"
                    name="ConfirmNewPassword"
                    pattern="^(?=.*?[0-9])(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[^0-9A-Za-z]).{8,32}$" />
            </div>
            <div class="modal-action">
                <a class="btn" href="/admin/userProfile">Cancel</a>
                <button class="btn btn-primary" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>
{{ template "footer" }}
{{ end }}