{{ define "reset_password_token" }}
{{ template "top" }}
<div class="content">
    <div class="relative flex flex-col items-center justify-center h-screen overflow-hidden">
        {{ if .error }}
            <div class="alert alert-error max-w-lg my-2 shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>{{ .error }}</span>
            </div>
        {{ end }}
        <div class="w-full p-6 bg-white border-gray-600 rounded-md shadow-md border-top lg:max-w-lg">
            <h1 class="text-3xl font-semibold text-center text-gray-700 flex flex-col items-center"><img src="/public/ShinkyuShotokan.png" class="mr-3 h-16" alt="Shinkyu Shotokan Logo" />Reset Password</h1>
            <form class="space-y-4" form-action="/reset-password/{{ .token }}" method="post">
                <div>
                    <label class="label">
                        <span class="text-base label-text">New Password</span>
                    </label>
                    <input type="password" placeholder="New Password" class="w-full input input-bordered"
                        name="NewPassword" pattern="^(?=.*?[0-9])(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[^0-9A-Za-z]).{8,32}$" required />
                    <label class="label">
                        <span class="text-base label-text">Confirm New Password</span>
                    </label>
                    <input type="password" placeholder="Confirm New Password" class="w-full input input-bordered"
                        name="ConfirmNewPassword" pattern="^(?=.*?[0-9])(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[^0-9A-Za-z]).{8,32}$" required />
                </div>
                <div>
                    <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{ template "footer" }}
{{ end }}
