{{ define "top" }}
<!doctype html>
<html class="bg-base-300">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Shinkyu Shotokan Karate">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="/public/ShinkyuShotokan.png">
    <meta property="og:url" content="http://shinkyushotokan.us">
    <meta property="og:description" content="Traditional Shotokan karate for adults, teens and kids.">
    <meta property="og:site_name" content="Shinkyu Shotokan Karate">
    <title>Shinkyu Shotokan Karate | Traditional Japanese Karate in South San Francisco</title>
    <meta name="description" content="Traditional Shotokan karate for adults, teens and kids.">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="icon" type="image/x-icon" href="/public/fav2.ico">

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" /> -->

</head>

<body class="non-printable">
{{ end }}