{{ define "top" }}
<!doctype html>
<html class="bg-base-300">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="icon" type="image/x-icon" href="/public/fav2.ico">

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" /> -->

</head>

<body class="non-printable">
{{ end }}